{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid后台管理系统</title>
    <style>
        body {
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 50px;
        }
    </style>
{% endblock %}
{% block content %}
<p>
    <a href="/generateSNCode" target="_self" style="color:#000000" >生成序列号</a>
</p>
<p>
    <a href="/upload" target="_self" style="color:#000000" rel="noopener noreferrer">模块上传页面</a>
</p>
<p>
    <a href="/orderadd" target="_self" style="color:#000000" rel="noopener noreferrer">付费记录统计添加页面</a>
</p>
<p>
    <a href="/generateSNCode" target="_self" style="color:#000000" rel="noopener noreferrer">付费记录导出统计 </a>
</p>
{% endblock %}
