

{% extends "layout.html" %}
{% block title %}Index{% endblock %}


{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>antd-demo</title>
    <style>html, body {
        height: 100%;
        -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
    }

    #page {
        min-heigth: 100%;
        postion: relative;
        -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
    }

    #header {
        position: fixed;
        height: 4rem;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 999;
        background-color: #FFFFFF;
        text-align: center;
    }

    .AppHeader {
        -webkit-box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
        box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
    }

    #footer {
        max-width: 640px;
        min-width: 320px;
        height: 30px;
        position: absolute;
        bottom: 0;
        background-color: #ccc;
    }

    #content {
        padding-bottom: 30px;
        padding-top: 60px;
        overflow: auto;
    }</style>
    <script defer="defer" src="/js/chunk-vendors.4b6d03b8.js"></script>
    <script defer="defer" src="/js/app.5351e309.js"></script>
    <link href="/css/chunk-vendors.c2e2cc39.css" rel="stylesheet">
    <link href="/css/app.b2d625b8.css" rel="stylesheet">{% endblock %}
{% block content %}
<noscript></noscript>
<div id="app"></div>


{% endblock %}