<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>模块信息编辑</title>
    {% include 'admin/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ module.id }}" name="userId" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块名</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ module.name }}" name="name" lay-verify="title"
                               autocomplete="off" placeholder="请输入姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块文件名</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ module.code }}" name="code" lay-verify="title"
                               autocomplete="off" placeholder="请输入地址"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">下载地址</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ module.download_address }}" name="download_address"
                               lay-verify="title"
                               autocomplete="off" placeholder="请输入联系方式"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">续费模式</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ module.renewal_type }}" name="renewal_type" lay-verify="title"
                               autocomplete="off" placeholder="请输入联系方式"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="module-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree

        form.on('submit(module-update)', function (data) {
            let roleIds = ''
            $('input[type=checkbox]:checked').each(function () {
                roleIds += $(this).val() + ','
            })
            roleIds = roleIds.substr(0, roleIds.length - 1)
            data.field.roleIds = roleIds
            $.ajax({
                url: '/admin/module/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('module-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>