<!DOCTYPE html>
<html>
<head>
    <title>序列号信息</title>
    {% include 'admin/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin/css/other/console2.css') }}"/>
</head>

<body class="pear-container">
{# 查询表单 #}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="plugin-query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">序列号</label>
                <div class="layui-input-inline">
                    <input type="text" name="serial_name" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">模块</label>
                <div class="layui-input-inline">
                    <input type="text" name="module_name" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">代理商</label>
                <div class="layui-input-inline">
                    <input type="text" name="vendor_name" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="serial-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
{# 用户表格 #}
<div class="user-plugin user-collasped">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="serial-table" lay-filter="serial-table"></table>
        </div>
    </div>
</div>
</body>


{# 表格操作 #}
<script type="text/html" id="serial-toolbar">
    {% if authorize("admin:serial:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:serial:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="pear-icon pear-icon-ashbin"></i>
            删除
        </button>
    {% endif %}
</script>

{# 用户修改操作 #}
<script type="text/html" id="serial-bar">
    {% if authorize("admin:serial:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:serial:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="pear-icon pear-icon-ashbin"></i>
            删除
        </button>
    {% endif %}
</script>

{# 用户注册时间 #}
<script type="text/html" id="serial-createTime">
    {{ '  {{layui.util.toDateString(d.create_at,  "yyyy-MM-dd HH:mm:ss")}' |safe }}}
</script>

{# 用户更新时间 #}
<script type="text/html" id="serial-updateTime">
    {{ '  {{layui.util.toDateString(d.update_at,  "yyyy-MM-dd HH:mm:ss")}' |safe }}}
</script>

{% include 'admin/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'element', 'util'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree
        let popup = layui.popup
        let common = layui.common

        let MODULE_PATH = '/serial/'
        let cols = [
            [
                {% if authorize("admin:serial:remove") %}
                    {type: 'checkbox'},
                {% endif %}
                {title: 'ID', field: 'id', align: 'center',width:20 ,sort:true},
                {title: '序列号', field: 'sn', align: 'center',sort:true },
                {title: '模块', field: 'moudle', align: 'center',sort:true},
                {title: '代理商', field: 'vendor', align: 'center',sort:true},
                {% if authorize("admin:module:edit") %}
                    {title: '操作', toolbar: '#serial-bar', align: 'center', width: 130}
                {% endif %}
            ]
        ]

       table.render({
            elem: '#serial-table',
            url: MODULE_PATH + 'data',
            page: true,
            count: 50,
            curr:2,
            cols: cols,
            skin: 'line',
            toolbar: '#serial-toolbar', /*工具栏*/
            text: {none: '暂无序列号信息'},
            defaultToolbar: [{layEvent: 'refresh', icon: 'layui-icon-refresh'}, 'filter', 'print', 'exports'] /*默认工具栏*/
        })
        table.on('rowDouble(serial-table)', function (obj) {
            {#window.open(MODULE_PATH + 'info/' + obj.data['id'])#}
            layer.open({
                type: 2,
                title: '信息',
                shade: 0.1,
                area: ['750px', '600px'],
                content: MODULE_PATH + 'info/' + obj.data['id'],
                end: function () {
                    table.reload('serial-table')
                }
            })
        });



        form.on('submit(serial-query)', function (data) {
            table.reload('serial-table', {where: data.field})
            return false
        })
        table.on('tool(serial-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj)
            } else if (obj.event === 'edit') {
                window.edit(obj)
            }
        })
        table.on('toolbar(serial-table)', function (obj) {
            if (obj.event === 'add') {
                window.add()
            } else if (obj.event === 'refresh') {
                window.refresh()
            } else if (obj.event === 'batchRemove') {
                window.batchRemove()
            } else if (obj.event === 'collasped') {
                $('.user-left').toggleClass('user-collasped')
                $('.user-main').toggleClass('user-collasped')
                table.resize()
            }
        })


        window.info = function (obj) {
            layer.open({
                type: 2,
                title: '详细信息',
                shade: 0,
                area: ['400px', '400px'],
                content: MODULE_PATH + 'info',
                success: function (layero) {
                    let iframeWin = window[layero.find('iframe')[0]['name']]
                    iframeWin.show(obj.data)
                }
            })
        }
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增系列信息',
                shade: 0.1,
                area: ['550px', '550px'],
                content: MODULE_PATH + 'add',
                end: function () {
                    table.reload('serial-table')
                }
            })
        }
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['550px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id'],
                end: function () {
                    table.reload('serial-table')
                }
            })

        }
        window.remove = function (obj) {
            layer.confirm('确定要删除该用户', {icon: 3, title: '提示'}, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + 'remove/' + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        table.reload('serial-table')
                        if (result.success) {
                            popup.success(result.msg, function () {
                                obj.del()
                            })
                        } else {
                            popup.failure(result.msg)
                        }

                    }
                })
            })
        }

        window.batchRemove = function (obj) {

            let data = table.checkStatus('serial-table').data
            if (data.length === 0) {
                layer.msg('未选中数据', {
                    icon: 3,
                    time: 1000
                })
                return false
            }
            var ids = []
            var hasCheck = table.checkStatus('serial-table')
            var hasCheckData = hasCheck.data
            if (hasCheckData.length > 0) {
                $.each(hasCheckData, function (index, element) {
                    ids.push(element.id)
                })
            }
            {#console.log(ids);#}
            layer.confirm('确定要删除选中角色', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({

                    url: MODULE_PATH + 'batchRemove',
                    data: {ids: ids},
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                                table.reload('serial-table')
                        } else {
                            popup.failure(result.msg)
                        }
                    }
                })
            })
        }
        window.refresh = function (param) {
            table.reload('serial-table')
        }
    })

</script>
</html>