<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>客户详细信息</title>
    {% include 'admin/common/header.html' %}
</head>
<body>


<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-panel">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">编号</label>
                <div class="layui-form-label-col">
                    <label>{{ customer.id }}</label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <label  class="layui-form-label-col">{{ customer.name }}</label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <label class="layui-form-label-col">{{ customer.legal_address }}</label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮件地址</label>
                <label class="layui-form-label-col">{{  customer.email_address }}</label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮件地址</label>
                <label class="layui-form-label-col">{{ customer.contact_number }}</label>
            </div>
        </div>
        <div class="layui-panel">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="customer-info-table" lay-filter="customer-info-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'admin/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'element', 'util'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree
        var table = layui.table;
        let cols = [
            [
                {title: '序列号', field: 'sn', align: 'left' ,width:"250"},
                {title: 'mac地址', field: 'mac', align: 'left',width:"150"},
                {title: '创建日期', field: 'create_date', align: 'left',width:"250"},
            ]
        ]
        var sninfo = {{ customer.sninfo|tojson }};
        table.render({
            elem: '#customer-info-table',
            data: sninfo,
            page: false,
            count: 50,
            curr: 2,
            cols: cols,
            skin: 'line',
            overflow: 'tips',
            text: {none: '暂无SN信息'},
            defaultToolbar: [{layEvent: 'refresh', icon: 'layui-icon-refresh'}, 'filter', 'print', 'exports'] /*默认工具栏*/
        })

        form.on('submit(vendor-update)', function (data) {
            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页

            return false
        })
    })
</script>
</body>
</html>